* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background: url(/img/bg_main.jpg);
}

main {
  min-width: 600px;
  max-width: 900px;
  margin: 10px auto 0 auto;
  background-color: aliceblue;
}

#header {
  width: 100%;
  clear: both;
  text-align: right;
  height: 60px;
  line-height: 60px;
  background-color: bisque;
}

#header h1 {
  margin-right: 30px;
}

#content {
  background-color: #d2eaff;
  border-top: 1px solid #ccc;
  padding-bottom: 10px;
}

#content .assembly {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.image, .text {
  flex: 1;
}

.text {
  padding-top: 30px;
}

.header-text {
  font-weight: bold;
}

img.img-responsive {
  width: 75%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  opacity: 1;
  transition: .2s opacity;
}

img.img-responsive:hover {
  opacity: .9;
}

/* PAGES */

a.back-to-home {
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: #79563A;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: aliceblue;
  margin-top: 15px;
  transition: .2s all;
}

a.back-to-home:hover {
  background-color: #8d6546;
}
