* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background: url(../img/bg_main.jpg);
}

main {
  max-width: 1000px;
  margin: 10px auto;
  background-color: aliceblue;
  box-shadow: 0 2px 10px 2px #333;
}

/* HEADER */

#header {
  width: 100%;
  clear: both;
  text-align: right;
  height: 60px;
  line-height: 60px;
  background-color: bisque;
}

#header h1 {
  margin-right: 30px;
  font-size: 32px;
}

#header h1 a {
  color: #5f4027;
  text-decoration: none;
  transition: .2s color;
}

#header h1 a:hover {
  color: #111;
}

/* CONTENT */

#content {
  background-color: #d2eaff;
  padding-bottom: 10px;
  font-size: 16px;
  border-top: 1px solid #ccc;
}

#content .assembly {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.image, .text {
  flex: 1;
}

.text {
  padding-top: 30px;
}

.header-text, .header-text a {
  font-weight: bold;
  margin: 10px 0;
  color: #5f4027;
  text-decoration: none;
  transition: .2s color;
}

.header-text a:hover {
  color: #111;
}

img.img-responsive {
  width: 75%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  opacity: 1;
  transition: .2s all;
}

img.img-responsive:hover {
  opacity: .9;
  box-shadow: 0 2px 10px 2px #333;
}

/* PAGES */

a.back-to-home {
  display: block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  background-color: #79563A;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: aliceblue;
  margin-top: 15px;
  transition: .2s all;
}

a.back-to-home:hover {
  background-color: #8d6546;
}

img.img-responsive-details {
  width: 75%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

p.version {
  margin: 5px 0;
}

.mods {
  margin: 10px 0;
}

.mods span {
  display: block;
  margin-bottom: 5px;
}

.mods ul {
  font-size: 14px;
  padding: 0 0 0 30px;
  list-style-type: disc;
}

.text-info p a {
  text-decoration: none;
  display: block;
  margin: 10px 0 0 0;
  color: #5f4027;
  font-weight: bold;
  transition: .2s color;
}

.text-info p a:hover {
  color: #111;
  text-decoration: underline;
}

/* FOOTER */

#footer {
  width: 100%;
  clear: both;
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: bisque;
  border-top: 1px solid #ccc;
}

#footer span {
  font-size: 14px;
  color: #5f4027;
}

/* media */

@media only screen and (max-width: 800px) {
  main {
    margin: 0 auto;
  }
  
  #header h1 {
    text-align: center;
    margin-right: 0;
  }
  
  #content .assembly {
    display: block;
    margin: 15px 0;
  }
  
  .text {
    text-align: center;
    padding-top: 5px;
  }
  
  a.back-to-home {
    margin: 10px auto 20px auto;
  }
  
  .mods ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
  }
}
